<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}{{/block}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,400italic,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
<body>
    <div class="container">
    {{#block "main"}}{{/block}}
    </div>
</body>
</html>
